<%= form_tag path, method: method_type do %>

  <label>Post Title:</label><br>
  <%= text_field_tag :title, existing_title %><br>
  
  <label>Post Description:</label><br>
  <%= text_area_tag :description, existing_description %><br>
  
  <%= submit_tag 'Submit Post' %>
  
<% end %>

<!-- VARIABLES -->
<!-- 1. path :: the action path -->
<!-- 2. method_type :: the method (e.g. 'POST', 'PUT', etc.-->
<!-- 3. existing_title :: fill in form with this title if it exists-->
<!-- 4. existing_description :: fill in form with this description if it exists-->