
<h3>Article Form</h3>

<%= form_tag article_path(@article), method: "put" do %>
  <label>Article title:</label><br>
  <%= text_field_tag 'article[title]', @article.title %><br>

  <label>Post description</label><br>
  <%= text_area_tag 'article[description]', @article.description %><br>

  <%= submit_tag "Submit Article" %>
<% end %>
