<h1>Edit Form</h1>

<%= form_tag articles_path do %>
  <label>Article title:</label><br>
  <%= text_field_tag 'article[title]' %><br>

  <label>Article Description</label><br>
  <%= text_area_tag 'article[description]' %><br>

  <%= submit_tag "Submit Article" %>
<% end %>
