<%= form_tag articles_path do %>
  <label>My article title:</label><br>
  <%= text_field_tag :title %><br>

  <label>My article description</label><br>
  <%= text_area_tag :description %><br>

  <%= submit_tag "Submit Article" %>
<% end %>