<label>Post title:</label>
<br>
<%= text_field_tag(:'post[title]', @post.title) %>
<br>
<label>Post Description:</label>
<br>
<%= text_area_tag(:'post[description]', @post.description) %>
<br>
<%= submit_tag("Submit Post") %>
<% end %>
