<%= form_for(@post) do |f| %>
  <label>Post title</label><br>
  <%= text_field_tag :title, @post.title %><br>

  <label>Post description</label><br>
  <%= text_field_tag :description, @post.description %><br>

  <%= submit_tag "Submit Post" %>
<% end %>
