<label>Edit Post</label>
<%= form_tag post_path(@post), method: "put" do %>
  <label for="title">Post Title:</label>
  <%= text_field_tag :title, @post.title %><br>

  <label for="description">Post Description:</label>
  <%= text_field_tag :description, @post.description %><br>

  <%= submit_tag "Submit Post" %>

<% end %>
