<%= form_tag post_path(@post), method: "put" do %>

  <p><label>
    Post title:
    <%= text_field_tag :title, @post.title %>
  </label></p>

  <p><label>
    Post description:
    <%= text_area_tag :description, @post.description %>
  </label></p>

  <p><%= submit_tag "Submit Post" %></p>

<% end %>
