<h1>Edit Post</h1>

<%= form_tag posts_path(@post), method: "post" do %>
  <label>Post Title</label>
  <%= text_field_tag :title, @post.title %>

  <label>Post Description</label>
  <%= text_field_tag :description, @post.description %>

  <%= submit_tag "Submit Post" %>


<% end %>


