<h1>Edit Post:</h1>

<%= form_tag posts_path(@post) do %>
  <%= text_field_tag 'title', value: @post.title %>
  <%= text_field_tag 'description', value: @post.description %>
  <%= submit_tag "Submit Post" %>
<% end %>