<h1>New Post</h1>
<%= form_tag posts_path do %>
  <label>Post title:</label>
  <%= text_field_tag :title %><br>

  <label>Post description:</label>
  <%= text_area_tag :description %><br>

  <%= submit_tag "Submit Post" %>
<% end %>
